
/*SLIDESHOW STYLES*/
.slideshow-section{
    padding: 4rem 0;
    
    width: 100%;
}

.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/*hides the images by default*/
.mySlides{
    display: none;
}

/*Next & previous buttons styles, change it how you like it*/
.prev, .next{
    cursor: pointer;
    position:absolute;
    top: 50%;
    width: auto;
    margin-top: -2.2rem;
    padding: 1.6rem;
    color:white;
    font-weight: bold;
    font-size: 1.8rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0; /*What does this do?*/
    user-select: none; /*What does this do?*/
}

/*this puts hte next button to the right*/
.next{
    right:0;
    border-radius: 3px 0 0 3px; /*What does this do?*/
}

/*change the hover values*/
.prev:hover, .next:hover{
    background-color: var(--text-color-dark)
}

/*Caption text*/
.text{
    color: var(--text-color-light);
    font-size: 1.5rem;
    padding: 0.8rem 1.2rem;
    position:absolute;
    bottom: 0.8rem;
    width: 100%;
    text-align: center;    
}

/*text tnumber styles "(1/3)"*/
.numbertext{
    color: var(--text-color-light);
    font-size: 1.2rem;
    padding: 0.8rem 1.2rem;
    position:absolute;
    top: 0;
}

/*the dot styles*/
.dot{
    cursor:pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 2px;
    background-color: var(--main-gray); /*CHANGE THIS COLORS*/
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/*when hovering the dots and active*/
.active, .dot:hover{
    background-color: var(--main-blue); /*CHANGE THIS COLORS*/
}

/*fading animation*/
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

/*LEARN THIS, WE DIDNT LEARN THIS*/
@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

/*RESPONSIVE GALLERY STYLES*/
.gallery{
    column-count: 4;
    column-gap: 1rem;
}

.gallery img{
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 8px;
    display: block;
    break-inside: avoid;
    object-fit: cover;
}

/* Responsive breakpoints */
@media (max-width: 1200px) {
  .gallery {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .gallery {
    column-count: 2;
  }
}



