/*MAIN CONTENT STYLES*/
.welcome-section {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.title {
  font-size: 5rem;
  color: var(--text-color-dark);
  text-align: center;
  margin: 0;
}

.subtitle {
  font-size: 3rem;
  color: var(--text-color-dark);
  text-align: center;
  margin-top: 2rem;
}

.description {
  font-size: 2rem;
  color: var(--text-color-dark);
  text-align: center;
  max-width: 600px;
  margin-top: 1rem;
}

/*flex and resting the style*/
.cta-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 2rem;  
}

/*margin to keep the links away from each other*/
.cta-links li {
  margin-left: 10rem;
}
/*so the first link doesnt have a margin on the left*/
.cta-links li:first-child {
  margin-left: 0;
}

/*link styles*/
/*put the different link styles here*/
.cta-link {
  text-decoration: none;
  color: var(--text-color-dark);
  font-size: 2rem;
  padding: 1rem 0.5rem;
  border: #45567d 3px solid;
  border-radius: 30px;
  
}

/*Create effect for link states, hover, active, etc*/
.cta-link:hover {
  color: var(--main-blue);
}

/*CONTACT SECTION*/
.contact-section {
  display: flex;
  flex-direction: column;
  background-color: var(--accent-color-2);
  padding: 2rem 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 85vh;
}
.contact-section-header > h2 {
  font-size: 5rem;
  margin-bottom: 0.5rem;
  color: var(--text-color-dark);
}
.contact-section-header > p {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: var(--text-color-dark);
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.contact-links > a {
  text-decoration: none;
  color: var(--text-color-dark);
}

.contact-details {
  font-size: 3rem;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}
